<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label for="user">Username:</label>
        <input type="text" id="user" name="username"><br><br>

        <label for="pass">Password:</label>
        <input type="password" id="pass" name="password"><br><br>

        <button type="submit">Login</button>
    </form>

	<a href="/register">
		<button type="register">Register</button>
	</a>
</body>
</html>
